.profileBody {
  display: flex;
  flex-direction: column;
}

.teamsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  .addTeamButton {
    display: flex;
    flex-direction: row;
    gap: var(--space-1);
    align-self: center;
  }

  .searchContainer {
    display: flex;
    justify-content: center;

    .searchInput {
      padding: 5px 10px;
    }
  }

  .teamsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--space-2);
  }
}

@media (max-width: 431px) {
  .teamsContainer .teamsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
  }
}
