.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vh;
  height: 50vh;

  nav {
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    padding: 6px 8px;

    button {
      border: none;
      background: none;
      padding: 7px 15px;
      width: 49%;
      &:hover,
      &.active {
        background-color: #646464;
        font-weight: 600;
      }
    }
  }
  label {
    display: flex;
    flex-direction: column;
  }
  button.submit {
  }
}
