.authForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60vh;
  height: 50vh;

  nav {
    border-radius: var(--radius-md);
    display: flex;
    justify-content: space-around;
    padding: 6px 8px;

    button {
      border: none;
      background: none;
      padding: 7px 15px;
      width: 49%;

      &:hover,
      &.active {
        background-color: var(--color-hover);
        font-weight: var(--font-weight-bold);
      }
    }
  }

  label {
    display: flex;
    flex-direction: column;
  }
}
