.overlay {
  position: fixed;
  inset: 0;
  background: var(--color-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-modal);
}

.content {
  background: var(--color-bg);
  position: relative;
  padding: var(--space-5);
  border-radius: var(--radius-md);
  display: flex;
  max-height: 95dvh;
  overflow-y: auto;
}
