.range-container {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: 40% 15% 45%;
  align-items: center;
  .stat-name {
    justify-self: flex-start;
    text-transform: capitalize;
  }
  .stat-number {
    justify-self: center;
  }
  .range-wrap {
    width: 100%;
    background-color: dimgray;
    justify-self: flex-end;
  }
  .range-wrap,
  .range-bar {
    height: 10px;
    border-radius: 15px;
  }
}
