.container {
  width: 100%;
  height: 30px;
  display: grid;
  grid-template-columns: 40% 15% 45%;
  align-items: center;

  .statName {
    justify-self: flex-start;
    text-transform: capitalize;
  }
  .statNumber {
    justify-self: center;
  }
  .wrap {
    width: 100%;
    background-color: var(--color-surface);
    justify-self: flex-end;
  }
  .wrap,
  .bar {
    height: 10px;
    border-radius: var(--radius-pill);
  }
}
