.app-container {
    margin-left: auto;
    box-sizing: border-box;
    margin-right: auto;
    padding: 32px 16px;
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    -moz-box-flex: 1;
    flex-grow: 1;
}

@media (min-width: 528px) {
    .app-container {
      padding-left: 24px;
      padding-right: 24px;
    }
}