.app-container {
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
  padding: 32px 1em;
  padding-right: 1em;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  -moz-box-flex: 1;
  flex-grow: 1;

  button {
    cursor: pointer;
    box-sizing: content-box;
    width: fit-content;
    padding: 5px 10px;
  }

  button.back-button {
    position: absolute;
    right: 0;
  }
}

@media (min-width: 528px) {
  .app-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}
