.app-container {
  margin-inline: auto;
  box-sizing: border-box;
  padding: var(--space-6) 1em;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  flex-grow: 1;

  button.back-button {
    position: absolute;
    right: var(--space-4);
  }
}

@media (min-width: 528px) {
  .app-container {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
}

.button-spinner {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: var(--radius-round);
  animation: button-spin 0.7s linear infinite;
}

@keyframes button-spin {
  to {
    transform: rotate(360deg);
  }
}
